body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.paintedsquare {
  background: #004e5c;
  border: 1px solid #999;
  color: #004e5c;
  margin-right: -1px;
  margin-top: -1px;
}

.square:focus {
  outline: none;
}


.circle {
  border-radius: 50px;
  font-size: 30px;
  text-align: center;
  background: #fff;
  border: 2px solid #999;
  font-weight: bold;
  margin-top: 5px;
}

.form-check {
  border-radius: 10px;
  border: 2px solid rgb(62, 112, 170);
  margin-top: 5px;
  font-size: 17px;
}

.label {
  font-size: 20px;
}

.mode {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004e5c;
  border-radius: 8px;
  margin: 5px;
}

.clueCompletoLinea {
  background: #398d39 !important ;
}
.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.gameSettings {
  margin-top: 55px;
  margin-right: 20px;
  display:flex;
  flex-direction: row;
}

.victory {
  font-size: 50px;
}
