#root{
  height: 100%;
}

html{
  height: 100%;
}

body {
  font: 15px "Century Gothic", Futura, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./Assets/img/backgroundDark.jpg');
}


.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}



.paintedsquare {
  background: #004e5c;
  border: 1px solid #999;
  color: #004e5c;
 
  animation-name: changecolor;
  animation-duration: 2s;
}

@keyframes changecolor {
  from {
    color: #fff;
    background: #fff;
  }
  to{
    color: #004e5c;
    background: #004e5c;
  }
}

.square:focus {
  outline: none;
}


.switchbutton {
  display:flex;
}

.switchbuttonaux {
  border-radius: 50px;
  text-align: center;
  background: #00404b;
  border: 1px solid #999;
  font-weight: bold;

  margin-top: 5px;
}

.box, .cross {
  color: #004e5c
}

.option1, .option2 {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-check {
  border-radius: 15px;
  border: 2px solid rgb(50, 106, 170);
  margin-top: 5px;
  font-size: 20px;
  background-color: rgb(0, 109, 27);
}

.label {
  font-size: 22px;
  font-style: italic;
  font-size-adjust: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004e5c;
  border-radius: 8px;
  margin: 5px;
}

.clueCompletoLinea {
  background: #398d39;
  animation-name: changecolorclue;
  animation-duration: 2s;
}

@keyframes changecolorclue {
  from {
    background: #004e5c;
  }
  to{
    background: #398d39;
  }
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 0;
}

.gameInfo {
  margin-left: 20px;
}

.gameSettings {
  border-radius: 15px;
  border: 1px solid #999;
  height: 135px;
  margin-top: 55px;
  margin-right: 20px;
  padding: 5px;
  display:flex;
  flex-direction: row;
  
}

.victory {
  font-size: 50px;
  animation-duration: 3s;
  opacity: 0;
  animation-name: appear;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.boton_Inicio  {
  display: flex;
  flex-direction: row;
  
  align-items: center;
	box-shadow:inset 0px 17px 25px -1px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:13px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:3px 0px 0px #ffee66;
}
.boton_Inicio :hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.Butboton_Inicio:active {
	position:relative;
	top:1px;
}